html {
	font-family: 'Raleway', sans-serif;
	height: 200vh;
}

/*********************************
	FONTS
**********************************/
.ucase {
	text-transform: uppercase;
}

.center_text {
	text-align: center;
}

.thin {
	font-weight: 300;
}

.title h3,
.install_link a {
	font-size: 14px;
	font-weight: 500;
}

.title p {
	font-size: 10px;
}

.header_name {
	font-size: 18px;
	line-height: 31px;
	font-weight: 700;
	letter-spacing: 2px;
}

.btn {
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0.5px;
	
}

.app_name,
.store_title {
	font-size: 28px;
	line-height: 36px;
}

.store_title {
	font-weight: 200;
}

.advert {
	font-size: 16px;
	line-height: 32px;
}

.feature_title,
.hashtag {
	font-size: 20px;
	line-height: 28px;
}

.description,
.download_app h3 {
	font-size: 14px;
	line-height: 25px;
}

.download_slogan {
	font-size: 24px;
	line-height: 34px;
}

.download_app h3,
.hashtag {
	font-weight: 600;
}
.bottom_section {
	color: #fff;
}
.footer_title {
	font-size: 28px;
	line-height: 36px;
	font-weight: 600;
	letter-spacing: 4px;
}


/********************************
	COLORS
********************************/
.green {
	color: #4F9951;
}

.gray {
	color: #717171;
}

.off_white {
	background-color: rgb(248, 248, 249);
}
.cta {
	background-color: #4f9951;
	color: #fff;
}

.top_section {
	height: 120px;
	background: white;
}

.top_branding,
.app_branding,
.main_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top_branding {
	padding: 10px 20px;
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 10px;
}
.logo {
	height: 30px;
	width: 30px;
}

.install_link a {
	text-transform: uppercase;
	text-decoration: none;
	color: #7FC07F;
}

.main_header {
	padding: 20px 10px;
}

.user_auth,
.app_buttons,
.language_select {
	display: flex;
}

.user_auth .btn {
	padding: 7px 14px;
}

.carousel {
	height: 213px;
	background-image: url("./img/a18b0436cbe3135135b807e6fc47a6c5-w2880-49.jpg");
	background-size: 150% 150%;
	background-position: center center;
	margin-bottom: ;
}

.content {
	width: 84%;
	margin: 0 auto;
	padding: 30px 0;
}


.app_desc {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 108px;
}

.advert {
	margin-top: 24px;
	margin-bottom: 24px;
}

.intro .btn {
	padding: 11px 20px;
}

.wrapper {
	width: 63%;
	margin: 0 auto;
}

.feature_title {
	margin-bottom: 24px;
}

.feature_title span {
	display: block;
}

.feature_title::before {
	content: '';
	display: block;
	width: 40px;
	height: 3px;
	background: #C6C6C6;
	margin: 20px 0;
}

.feature {
	margin-bottom: 40px;
}

.parallax {
	height: 367px;
	background-image: url(./img/mexican-parallax.jpg);
	background-size: 100% 100%;
}

.download_app {
	padding: 60px 0 100px;
}

.download_app .description {
	max-width: 200px;
	padding: 10px 50px 40px 0;
}

.app_buttons {
	margin-top: 15px;
}
.store_button {
	max-width: 172px;
	max-height: 51px;
	min-width: 172px;
	min-height: 51px;
	border: 0;
}

.bottom_section {
	background: #000;
	padding: 50px 15px;
}

.footer_hr {
	margin: 32px 0;
	height: 1px;
	color: #444;
	opacity: .5;
}

.language_select {
	padding: 10px 30px 0;
	max-width: 300px;
	align-items: center;
	font-weight: 600;
}

.language_select img,
.sm_icon {
	width: 14px;
	height: 14px;	
}

.selectedLanguage {
	margin-left: 15px;
	width: 150px;
}

.langDropDown {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 11px 5px 0 5px;
	border-color: #bdbdbd transparent transparent transparent;
}

.hashtag {
	margin: 30px 0;
}

.social_media {
	display: flex;
	justify-content: space-between;
	max-width: 70px;
	height: 14px;
}

.sm_icon {
	background-color: white;
}

.footer_nav {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	margin-top: 20px;
}

.foot_link {
	margin-bottom: 15px;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
}

.bottom_section .app_buttons {
	padding-right: 75px;
	justify-content: space-between;
}
